.elements {
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: flex-start;
  position: relative;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .elements  {
    justify-content: center;
  }
}

