.auth__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 15px;
}
